.App {
	font-family: sans-serif;
	text-align: center;
}
.new-password {
	border: 1px solid #ccc;
	padding: 12px;
}
.password-entry {
	display: flex;
}
.password-block {
	flex: 1;
	display: flex;
	flex-direction: column;
	border: none;
	padding: 6px;
	text-align: center;
	align-items: center;
}
.password-input-show-hide {
	display: flex;
	flex-direction: row;
}
.show-hide-password {
	margin: 6px 0 0 9px;
	min-width: 42px;
}
.show-hide-password button {
	background: none;
	border: none;
	cursor: pointer;
	outline: none;
	color: darkblue;
}
.password-inputs-block {
}
.password-input {
	padding: 3px 0;
}
.password-input label {
	width: 150px;
	display: inline-block;
	text-align: right;
	padding-right: 6px;
}
.password {
	display: inline-block;
}
.password-validate {
	margin-top: 12px;
}
.password-instructions {
	align-self: flex-end;
	border-left: 1px solid #00f;
	text-align: left;
	font-size: 0.8rem;
}
.instruction-list,
.instruction-list ul {
	list-style: none;
	padding-left: 1rem;
}
.instruction-list li {
	padding: 2px 0;
}
.error-message {
	display: inline-block;
	border: 1px solid #fcc;
	padding: 12px 30px;
	color: red;
	margin-top: 28px;
	min-height: 1rem;
}
.error-message p {
	margin: 0;
	padding: 0;
}
.error-message.invisible {
	visibility: hidden;
}
.error-message.ok {
	border: 1px solid #ddd;
	color: #000;
}
